.my-md {
    margin-top: $spacing-md !important;
    margin-bottom: $spacing-md !important;
}

.mb-xxxs {
    margin-bottom: $spacing-xxxs !important;
}

.mb-xxs {
    margin-bottom: $spacing-xxs !important;
}

.mb-xs {
    margin-bottom: $spacing-xs !important;
}

.mb-md {
    margin-bottom: $spacing-md !important;
}

.ml-xxxs {
    margin-left: $spacing-xxxs !important;
}

.mr-xs {
    margin-right: $spacing-xs !important;
}

.p-xs {
    padding: $spacing-xs !important;
}