@import '../base/tokens.scss';

.btn {
    display: inline-block;
    padding: $spacing-xs 24px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary {
    background: $color-brand-1;
    border-color: $color-brand-1;
    color: #ffffff;
}