$color-brand-1: #4597ef;
// $color-brand-2: #FF5550;
// $color-brand-3: #2a2842;

$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-xl: 64px;

$font-family-base: 'Nunito', sans-serif;

$grid-xs: 576px;
$grid-sm: 768px;
$grid-md: 992px;