@font-face {
    font-family: 'Nunito';
    src: url('../../assets/fonts/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $font-family-base !important;
    color: #1e2022;
}

h1, .h1 {
    font-size: 2.5rem;
}

.small-title {
    font-size: 25px;
}

.bold {
    font-weight: bold;
}

.strong {
    font-weight: 600;
}

.small {
    font-size: 80%;
}